section {
    width: auto;
    height: 200px;
    font-family: 'Roboto', sans-serif;
}
.subtext{
    font-size: 16px;
    color: #E5E7EB;
}
.content { 
    display: flex;
    flex-direction: column; 
    justify-content: stretch;
}
.header{
    gap: 20px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1F2937;
    font-size: 48px;
    color: #f9faf8;
    font-weight: bold;
}
.nav-bar {
    margin-top: 20px;
    display: flex;
    font-size:18px;
    color: #E5E7Eb;
    width: 1000px;
    justify-content:flex-start;
}
.nav-bar-text{
    font-size: 14px;
}
.header-content {
    display: flex;
    width: 1000px;
    height: 325px;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-size:24px;
    color: #f9faf8;
}
.image-header {
    display: flex;
    width: 475px;
    height: 200px;
    font-size: 18px;
    background-color: lightgray;
    color: black;
    justify-content: center;
    align-items: center;
}
.text-subtext-button{
    width: 475px;
    height: 200px;
}
.sign-up-button-blue-border
{
    border-radius: 10px;
    border: 1px solid #3882F6;
    color: white;
    background-color: #3882F6;
    font-weight: bold;
    font-size: 16px;
    height: 35px;
    width: 120px;
}
.information-and-pictures{
    height: 350px;
    background-color: white;
    font-size: 36px;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.information {
    margin-bottom: 20px;
    font-weight: bold;
}
.pictures{
    display: flex;
    gap: 70px;
}
.image-box{
    border: 4px solid rgb(41, 112, 218);
    width: 150px;
    height: 150px;
    border-radius: 10px;
}
.subtext-box, .header-subtext{
    margin-top: 10px;
    width: 160px;
    height: 50px;
}
.image-subtext{
    font-size: 16px;
    
}
.quote{
    height: 250px;
    display: flex;
    background-color: #E5E7Eb;;
    font-size: 72px;
    color: #1F2937;
    font-style: italic;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.text-and-author{
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 150px;
}
.quote-text {
    align-self: flex-start;
    font-style: italic;
    font-size: 32px;
    color: #1F2937;
}
.quote-author {
    align-self: flex-end;
    font-size: 18px;
    color: black;
    font-weight: bold;
    margin-top: 10px;
}
.sign-up{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
}
.sign-up-box
{
    display: flex;
    width: 700px;
    height: 125px;
    background-color: #3882F6;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    
}
.sign-up-text{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 350px;
    height: 60px;
    color: white;
    justify-content: center;
    
}
.sign-up-button-white-border{
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    background-color: #3882F6;
    font-weight: bold;
    height: 35px;
    width: 100px;
}
.footer{
    height: 100px;
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
}
